<app-topbar></app-topbar>

<div class="container-fluid">
  <br/>
  <br/>
  <div style="display: block;">
    <div class="row">
      <div class="col-lg-6">
        <div style="display: block">
          <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"></canvas>
        </div>
      </div>
      <div class="col-lg-6">
        <div style="display: block">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"></canvas>
        </div>
      </div>
      <br/>
      <div class="col-lg-12">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>

      <div class="col-lg-4"></div>
    </div>

  </div>
</div>
