<div class="top-bar">
  <div  class="container top-links">
    <div style="width: 50%">
     <i class="fa fa-bars menu"></i>&nbsp;&nbsp;Menu
    </div>

    <div style="width: 50%" class="top-left-links">

      <div class="text-white"><i class="fa fa-th"></i>&nbsp;&nbsp;&nbsp;
        <span>Dashboard</span></div>
      <div class="text-white">
        <i class="fa fa-question-circle"></i>&nbsp;&nbsp;&nbsp;
        <span>What is corona?</span>
      </div>
      <div class="text-white">
        <i class="fa fa-chart-bar"></i>&nbsp;&nbsp;&nbsp;
        <span>Global statistics</span>
      </div>
    </div>
  </div>

</div>

